<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/styles/estilo.css">
    <script src="../Dynamics/js/listafu.js"></script>

    <title>LISTA DE TAREAS</title>
</head>
<body>
    <h1 align="center" id="titulo">Lista De Tareas</h1>
    <section id="contenedorbotones">
        <button id="bagregar" class="botones botonesagregar" onclick="agregartarea()">Añadir tarea</button>
        <button id="beliminar" class="botones botoneseliminar" onclick="eliminartarea()">Eliminar tarea</button> 
    </section>
    <br>
    <br>
    <section id="contenedor">      
    </section>
</body>
</html>